<% content_for :head do -%>
	
<%= stylesheet_link_tag "lightbox" %>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css" />
  <style>
  .draggable { width: <%= @wordstorm.size %>px; height: <%= Integer(@wordstorm.size * 0.75)%>px; padding: 0.5em; float: left; margin: 0 10px 10px 0; }
  #draggable, #draggable2 { margin-bottom:20px; }
  #navbar {margin-left: auto; margin-right: auto; }
  #containment-wrapper { width: <%= @wordstorm.size %>%; height:2000px; border:2px solid #ccc; padding: 10px; }
  #main_container {margin-left: 100px; margin-right: 100px; }
  </style>
  
  <script>
  $(function() {
	num = "<%= @files.count %>"
	for (var i=0;i<num;i++) { 
		$("#draggable"+i).draggable( 
			{ snap: true, distance: 20, containment: "#containment-wrapper", scroll: false }	
		);

	}
	});
  </script>
  <script>
	$(function() {
		$('#formsubmit').click(function() {
			for (var i=0;i<num;i++) { 
				$("#Left"+i).val($("#draggable"+i).position().left);
				$("#Top"+i).val($("#draggable"+i).position().top);
			}
		});
	});
  </script>
 
<% end -%>

<div class="section" style = "width: 120%">

<%= form_for(:wordstorm, :html => { :id => 'formsubmit' }, :style => {:display => 'inline-block'}, :url => {:controller => 'gallery', :action => 'view'}) do |f| %>
	<h2 style = "float:left; height:20px">
	<span>WordStorm: </span>
	<span><%= f.text_field(:name) %></span>
	<input type="hidden" name="num" value="<%= @files.size%>">
	<input type="hidden" name="stormid" value ="<%= @wordstorm.id %>">
	<% @files.each_with_index do |file, i| %>
		<input type="hidden" name="Left<%=i%>" id = "Left<%=i%>" value="0">
		<input type="hidden" name="Top<%=i%>" id = "Top<%=i%>" value="0">
	<% end %>
	<% f.fields_for :images do |image| %>
      	<span><%= f.text_field(:images) %></span>
    <% end %>
	<span><%= f.submit %></span>
	</h2>
<% end %>
<span><%= link_to " Increase Size ", {:controller => 'gallery', :action => 'edit', :plus => @wordstorm.cloud_id}, {:id => "increase", :style => "float:right;"}%></span>
<span><%= link_to " Decrease Size ", {:controller => 'gallery', :action => 'edit', :minus => @wordstorm.cloud_id}, {:id => "decrease", :style => "float:right;"}%></span>

</div>
<br>
<br>
<br>

<div id="containment-wrapper">
	<div class="imageRow">
			<% @files.each_with_index do |file, i| %>
				<a href= "/../assets/<%= file.to_s.html_safe %>" rel="lightbox">
					<%= image_tag("#{file.to_s.html_safe}", :id => "draggable"+i.to_s, :class => "draggable ui-widget-content", :style => "position: absolute; top: #{@wordstorm.images[i].pos_y}px; left: #{@wordstorm.images[i].pos_x}px;") %>
				</a>
			<% end %>
	</div>
</div>

<%= javascript_include_tag "lightbox" %>
 <script>
	$(function() {
		$lightbox = $('#lightbox');
		$lightbox.find('.lb-container').on('click', function(e) {
			alert([e.pageX - $('.lb-outerContainer').offset().left, e.pageY - $('.lb-outerContainer').offset().top]);
			return false;
      });
	});
  
  </script>
